NODE_ENV=development
PORT=8080
MONGO_URI=mongodb://127.0.0.1:27017/pm_suite
JWT_ACCESS_SECRET=change_me_change_me_change_me_change_me
JWT_REFRESH_SECRET=change_me_change_me_change_me_change_me
CORS_ORIGIN=http://localhost:5173
TRUST_PROXY=false
MORGAN_FORMAT=dev
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=240
